    <legend><%= @title %></legend>
    <% if @task.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul>
                <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

  <div class="form-group">
    <%= @frm.label :name, "Наименование", style:"display:inline-block",class:"col-lg-2" %>
    <%= @frm.text_field :name, style:"display:inline-block", class:"col-lg-3" %>
  </div>
  <div class="form-group">
    <%= @frm.label :note, "Описание", style:"display:inline-block",class:"col-lg-2"  %>
    <%= @frm.text_area :note, rows: 6, style:"display:inline-block", class:"col-lg-3" %>
  </div>
  <div class="form-group">
    <%= @frm.label :status_id, "Статус", style:"display:inline-block",class:"col-lg-2"  %>
    <%= @frm.select :status_id, @status_array, style:"display:inline-block", class:"col-lg-3" %>
  </div>
  <div class="form-group">
    <%= @frm.label :duration, "Длительность, мин.", style:"display:inline-block",class:"col-lg-2"  %>
    <%= @frm.number_field :duration, style:"display:inline-block", class:"col-lg-3" %>
  </div>
  <div class="form-group">
    <%= @frm.label :deadline, "Крайний срок", style:"display:inline-block",class:"col-lg-2",formats:"%Y.%m.%d"  %>
    <%= @frm.text_field :deadline,
        :value => (@task.deadline.blank? ? '' : @task.deadline.strftime('%d.%m.%Y')),
        style:"display:inline-block", class:"col-lg-1 date-fld" %>
  </div>
  <div class="actions">
    <%= @frm.submit @btn_lbl, class:"btn btn-info"%>
  </div>

