<legend>Список задач</legend>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Описание</th>
      <th>Статус</th>
      <th>Группа</th>
      <th>Время выполнения</th>
      <th>Срок</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.note %></td>
        <td><%= task.status_id %></td>
        <td><%= task.group_id %></td>
        <td><%= task.duration %></td>
        <td><%= task.deadline %></td>
        <td><%= link_to 'Открыть', group_tasks_path(params[:group_id]), class: "btn btn-mini"%></td>
        <td><%= link_to 'Редактировать', edit_group_task_path(params[:group_id], task), class: "btn btn-mini btn-primary" %></td>
        <td><%= link_to 'Удалить', group_task_path(params[:group_id], task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Новая задача', new_group_task_path, class: "btn btn-primary"%>
