<div class="page-header">
<h1>Список задач</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Описание</th>
      <th>Статус</th>
      <th>Группа</th>
      <th>Время выполнения</th>
      <th>Срок</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.note %></td>
        <td><%= task.status_id %></td>
        <td><%= task.group_id %></td>
        <td><%= task.duration %></td>
        <td><%= task.deadline %></td>
        <td><%= link_to 'Show', task, class: "btn btn-mini"%></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Новая задача', new_task_path, class: "btn btn-primary"%>
