<!DOCTYPE html>
<html>
<head>
  <title>Taskcheck</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/welcome/index"><span style="color: darkgreen" class="fa fa-check-square-o fa-1g"></span> TaskCheck</a>

      <div class="nav-collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Группы <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><% @linker = '<i class="fa fa-plus"></i> Новая'.html_safe %>
                    <%= link_to @linker, new_group_path %></li>
                  <li class="divider"></li>
                  <% if user_signed_in?
                        @groups = Group.where("user_id = ?", current_user[:id])
                        @groups.each do |group|
                  %>
                  <li><%= link_to group[:name], group_tasks_path(group[:id]) %></li>
                  <%    end
                     end %>
                </ul>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "О проекте" %></li>
            <% if user_signed_in? %>
              <li>
                <% @linker = '<i class="fa fa-user"></i><span style="color: green">'.html_safe+' '+ current_user[:username]+'</span>'.html_safe%>
                <%= link_to @linker, edit_user_path(current_user[:id])%>
              </li>
              <li>
                <%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, destroy_user_session_path, :method =>:delete%>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12"><%= yield %></div>
  </div>
</div>
</body>
</html>
